<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.ajay.googlelogin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>GoogleLogin</name><js-module name="GoogleLogin" src="www/GoogleLogin.js"><clobbers target="cordova.plugins.GoogleLogin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="GoogleLogin"><param name="android-package" value="com.ajay.googlelogin.GoogleLogin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/GoogleLogin.java" target-dir="src/com/ajay/googlelogin/GoogleLogin" /></platform></plugin>